html {
    background-color:gold;
}

body {
    justify-self: center;
    text-align: center;
    margin: 10%;
}

.body {
    font-family: 'Bahnschrift';
}

main {
    background-color: aliceblue;
    width: 400px;
    font-size: medium;
    justify-self: center;
}

.form {
    justify-self: center;
    padding: 10px;
}

.addbutton {
    justify-content: end;
}

.button1 {
    justify-items: end;
    margin: 10px;
}

.list{
    justify-items: center;
}
