html {
    background-color: darkslategray;
}

.body {
    font-family: 'Bahnschrift';
}

main {
    background-color: aliceblue;
    width: 400px;
    font-size: medium;
    justify-content: center;
}

form {
    justify-self: flex-start;
}



